---
import About from "../components/index/About.astro";
import Blog from "../components/index/Blog.astro";
import Class from "../components/index/Class.astro";
import Hero from "../components/index/Hero.astro";
import Video from "../components/index/Video.astro";
import Header from "../components/shared/Header.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
  <Header />
  <main>
    <article>
      <Hero />
      <About />
      <Video />
      <Class />
      <Blog />
    </article>
  </main>

  <!-- Functional JS -->
  <script src="../scripts/navbar-toggle"></script>
  <script src="../scripts/header+top-btn"></script>
</BaseLayout>
