<section
  class="section hero bg-dark has-after has-bg-image"
  id="home"
  aria-label="hero"
  data-section
  style="background-image: url('/images/hero-bg.png')"
>
  <div class="container">
    <div class="hero-content">
      <p class="hero-subtitle">
        <strong class="strong">The Best</strong>Fitness Club
      </p>

      <h1 class="h1 hero-title">Work Hard To Get Better Life</h1>

      <p class="section-text">
        Duis mollis felis quis libero dictum vehicula. Duis dictum lorem mi, a
        faucibus nisi eleifend eu.
      </p>

      <a href="#" class="btn btn-primary">Get Started</a>
    </div>

    <div class="hero-banner">
      <img
        src="/images/hero-banner.png"
        width="660"
        height="753"
        alt="hero banner"
        class="w-100"
      />

      <img
        src="/images/hero-circle-one.png"
        width="666"
        height="666"
        aria-hidden="true"
        alt=""
        class="circle circle-1"
      />
      <img
        src="/images/hero-circle-two.png"
        width="666"
        height="666"
        aria-hidden="true"
        alt=""
        class="circle circle-2"
      />

      <img
        src="/images/heart-rate.svg"
        width="255"
        height="270"
        alt="heart rate"
        class="abs-img abs-img-1"
      />
      <img
        src="/images/calories.svg"
        width="348"
        height="224"
        alt="calories"
        class="abs-img abs-img-2"
      />
    </div>
  </div>
</section>
