<section class="section video" aria-label="video">
  <div class="container">
    <div
      class="video-card has-before has-bg-image"
      style="background-image: url('/images/video-banner.jpg')"
    >
      <h2 class="h2 card-title">Explore Fitness Life</h2>

      <button class="play-btn" aria-label="play video">
        <ion-icon name="play-sharp" aria-hidden="true"></ion-icon>
      </button>

      <a href="#" class="btn-link has-before">Watch More</a>
    </div>
  </div>
</section>
